<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventarisbarang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventarisBarang">
        <activity
            android:name=".ShowBarangKeluar"
            android:exported="false" />
        <activity
            android:name=".ShowBarangMasuk"
            android:exported="false" />
        <activity
            android:name=".UpdateBarangKeluar"
            android:exported="false" />
        <activity
            android:name=".UpdateBarangMasuk"
            android:exported="false" />
        <activity
            android:name=".CreateBarangKeluar"
            android:exported="false" />
        <activity
            android:name=".CreateBarangMasuk"
            android:exported="false" />
        <activity
            android:name=".MainActivityKeluar"
            android:exported="false" />
        <activity
            android:name=".MainActivityMasuk"
            android:exported="false" />
        <activity
            android:name=".ShowDataBarang"
            android:exported="false" />
        <activity
            android:name=".UpdateDataBarang"
            android:exported="false" />
        <activity
            android:name=".CreateDataBarang"
            android:exported="false" />
        <activity
            android:name=".MainActivityBarang"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>